*{
    margin:0;
padding:0;
box-sizing: border-box;
font-family: 'poppins ';
}

body{

    display:flex;
    align-items: center;
    justify-content: center;
    background-color:aqua
    ;
    min-height: 100vh;
}
.wrapper{

    width:450px;
    border-radius:44px;
    background:red;

    padding:30px 20px 20px; 
}